<div style="background-image: url(images/Cala/Brands/fondoCompletoTrans.png); background-size: cover;background-repeat: no-repeat">
    <div class="row">
        <div class="col-2 container my-5 align-middle" style="padding: 25px; border-radius: 25px">
            <h1 class="text-center">CRUD <i class="fas fa-wrench"></i></h1>
            <div class="d-grid gap-2 my-3">
                <a href="/admin/categorias" class="btn btn-outline-secondary fs-4" style="border-radius: 25px">Categorías</a>
            </div>
            <div class="d-grid gap-2 my-3">
                <a href="/admin/productos" class="btn btn-outline-secondary fs-4" style="border-radius: 25px">Productos</a>
            </div>
            <div class="d-grid gap-2 my-3">
                 <a href="/admin/usuarios" class="btn btn-outline-secondary fs-4" style="border-radius: 25px">Usuarios</a>
            </div>
            <div class="d-grid gap-2 my-3">
                 <a href="/admin/empleados" class="btn btn-outline-secondary fs-4" style="border-radius: 25px">Empleados</a>
            </div>
        </div>
    </div>
</div>