<div style="background-image: url(images/Cala/Brands/fondoCompletoTrans.png); background-size: cover;background-repeat: no-repeat">
    <div class="row">
        <div class="col-5 container my-5 bg-light text-center" style="padding: 25px; border-radius: 25px">
            <h1 class="text-danger mb-3 fs-2">Necesitas ser administrador para acceder</h1>
            <div class="col-12">
            <img src="images/Error 401.jpg" alt="Error 401" class="img-fluid rounded">
            </div>
            <div class="row text-center">
                <div class="col">
                    <a href="http://localhost:3000/login" class="btn btn-outline-success mt-3 px-5" style="border-radius: 25px">Log In <i class="fas fa-sign-in-alt" style="margin-left: 5px;"></i></a>
                </div>
                <div class="col">
                    <a href="http://localhost:3000" class="btn btn-outline-success mt-3 px-5" style="border-radius: 25px">Home <i class="fas fa-store-alt" style="margin-left: 5px;"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>